*
!pyproject.toml
!setup.py
!README.md
!CMakeLists.txt
!MANIFEST.in
!COPYING
!licenses/
!licenses/**
!src/
!src/piper/
!src/piper/**
src/piper/**/__pycache__/
src/piper/**/*.pyc

!script/setup
!script/dev_build
!script/package
!docker/entrypoint.sh
